<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0/EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>SVNDiffModifiedColorKey</key>
		<string>1 0.576 0 1</string>
		<key>SVNDiffAddedColorKey</key>
		<string>0.253 0.659 0.694 1</string>
		<key>SVNDiffDeletedColorKey</key>
		<string>1 0.584 0.571 1</string>
		<key>SVNDiffPopoverColorKey</key>
		<string>1 0.914 0.662 1</string>
	</dict>
</plist>